{% extends 'Aweapp/base.html' %}
{% block content %}
{% load static %}
<div class="alt">Chat Page!</div>
<form action="/chat/" method="post" class="form-inline" name="chat-message">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input name="message" type="text" class="form-control" placeholder="Type your message" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
      </div>
  </form>
  <ul id="chat-messages" class="list-group">
    {% for message in messages %}
        <li class="list-group-item">
            {% if message == request.POST.get('message')%}
                <img src="{% static 'images/user.png' %}" alt="user icon" width="30" height="30">
            {% else %}
                <img src="/static/images/chatbot.png" alt="bot icon" width="30" height="30">
            {% endif %}
            {{ message }}
        </li>
    {% endfor %}
</ul>
<script>
  const messageForm = document.querySelector("#chat-message");
  const messageList = document.querySelector("#chat-messages");

  messageForm.addEventListener("submit", function(event) {
    event.preventDefault();

    const messageInput = messageForm.querySelector("[name='message']");
    const messageText = messageInput.value;

    // Clear the input field
    messageInput.value = "";

    // Create a new list item element
    const newListItem = document.createElement("ul");
    newListItem.classList.add("list-group");

    // Prepend the new list item to the top of the list
    messageList.prependChild(newListItem);
  });
</script>
{% endblock %}