{% extends 'Aweapp/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<h1 class="display-4">Please upload a file of the type: {text, pdf, csv}</h1>
<form method="post" enctype="multipart/form-data" class="form-horizontal my-3">
    {% csrf_token %}
    <div class="mb-3">{{ form|crispy }}</div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
</form>
{% endblock %}